@{
    ViewData["Title"] = "gothportal";
}

<div id="divMainBackground" class="container-fluid img-fluid mainBackground">

</div>
    
<script src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $( document ).ready(function()
    {
        var count = 5;

        // get a random number within range of number of files
        var i = Math.floor(Math.random() * count) + 1;

        // set the random starting backgound now
        setBackgroundImage(i)

        // start counter to roll the background every x ms
        setInterval(() => {
            i < count ? i++ : i=1;
            setBackgroundImage(i);
        }, 20000);
        
    });

    function setBackgroundImage(x)
    {
        //https://gothstorage.blob.core.windows.net/gothportal/homepage1.jpeg
        var backgroundImageUrl = "https://gothstorage.blob.core.windows.net/gothportal/homepage" + x + ".jpeg";
        $(document.getElementById("divMainBackground")).css("background-image", "url(" + backgroundImageUrl + ")");
    }

</script>